<footer>
    <div class="left-footer">
      <span>ABOUT US</span>
      <span>RESTAURANT REGISTRATION</span>
      <span>FREQUENTLY ASKED QUESTIONS</span>
      <span>ABOUT US</span>
      <span>CONTACT</span>
    </div>
    <div class="right-footer">
      <img id="logo2" src="/images/logo.png" alt="">
    </div>
  </footer>
