<header>
<nav>
    <div class="logowrap" >
     <a href=""><img id="logo" src="/images/logo.png" alt=""></a>
     <span>Order online.<br>Grab it at store.<br>Save time.</span>
    </div>

     <div class="btnswrap">
         <button>Login</button>
         <button>Sign Up</button>
     </div>
 </nav>
</header>