<header>
  <nav>
    <div class="logowrap">
      <a href="">
        <img id="logo" src="/images/logo.png" alt="">
      </a>
      <span>Order online.<br>Grab it at store.<br>Save time.</span>
    </div>
    <div class="btnswrap">
    <% if (!user) { %>
      <form class="btn-login" method="GET" action="/login">
        <button type="submit" id="login-button">
            <span id="login-span">LOGIN</span>
          </button>
      </form>
      <% } else if (user) { %>
        <form class="btn-login" method="GET" action="/logout">
          <button type="submit" id="login-button">
              <span id="login-span">LOGOUT</span>
            </button>
        </form>
      <% } %>
      <button id="signup-button">
        <span id="signup-span">SIGN UP</span>
      </button>
    </div>
  </nav>
</header>
