<!DOCTYPE html>
<html lang="en">

<head>
  <title>Grab | Order here, pickup there</title>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap" rel="stylesheet">

  <!-- Landing Page css -->
  <link rel="stylesheet" href="../styles/landing.css" type="text/css">
  <!-- Header css -->
  <link rel="stylesheet" href="../styles/header.css" type="text/css">
  <!-- Footer css -->
  <link rel="stylesheet" href="../styles/footer.css" type="text/css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% include ./partials/_header %>
  <main>
    <div class="food-display">
      <button id="login-button">
        <span id="login-span">ORDER</span>
      </button>
    </div>
    <div id="how-it-works-wrap">
      <div id="how-it-works">
        <span>How it works</span>
      </div>
      <div class="explanation">

        <div class="icon-text">
          <div class="icon">
            <img src="../images/find.png" alt="find">
          </div>
          <div class="directions">
            <span>Find your favorite restaurant</span>
          </div>
        </div>
        <div class="icon-text">
          <div class="icon">
            <img src="../images/food.png" alt="food">
          </div>
          <div class="directions">
            <span>Place your order online</span>
          </div>
        </div>

        <div class="icon-text">
          <div class="icon">
            <img src="../images/sms.png" alt="sms">
          </div>
          <div class="directions">
            <span>Receive SMS once your order is ready to grab</span>
          </div>
        </div>
        <div class="icon-text">
          <div class="icon">
            <img src="../images/resto.png" alt="restaurant">
          </div>
          <div class="directions">
            <span>Grab your meal at the restaurant</span>
          </div>
        </div>
      </div>
    </div>
    <div id="marketing-wrap">
      <div class="pic-text-wrap">

        <div >
          <img class="marketing-pic" src="../images/grab-wait.png" alt="restaurant">
        </div>
        <div class="slogan">
          <span>Wait-free lunch breaks.<br>You’ve got it.</span>
        </div>

      </div>
      <div class="pic-text-wrap">
        <div class="slogan">
          <span>Grab your food on the way.<br> You’ll know when it’s ready.</span>
        </div>
        <div>
          <img  class="marketing-pic"src="../images/grab-bag.png" alt="restaurant">
        </div>


      </div>

    </div>


  </main>

</body>

<% include ./partials/_footer %>

</html>
