<!DOCTYPE html>
<html lang="en">

<head>
  <title>Grab | Order here, pickup there</title>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap" rel="stylesheet">

  <!-- Landing Page css -->
  <link rel="stylesheet" href="../styles/menu.css" type="text/css">
  <!-- Header css -->
  <link rel="stylesheet" href="../styles/header.css" type="text/css">
  <!-- Footer css -->
  <link rel="stylesheet" href="../styles/footer.css" type="text/css">
  <!-- Cart css -->
  <link rel="stylesheet" href="../styles/cart.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script type="text/javascript" src="/scripts/cart.js"></script>

  <script type="text/javascript" src="/vendor/jquery.mask.js"></script>

  <script>
    $(document).ready((event) => {
      // When user scrolls down 120px from the top of the document, scroll up button will appear.
      $(document).on("scroll", function () {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
          $("#scroll-up-btn").css("display", "block");
        } else {
          $("#scroll-up-btn").css("display", "none");
        }
      });

      // When the scroll up button is pressed, the user is brought to the top of the document.
      $("#scroll-up-btn").on("click", function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      });

    });
  </script>
</head>

<body>
  <% include ./partials/_header %>
  <main>
    <section class="restaurant-display">
      <div id="restaurant-info">
        <div class="logo-div">
          <img id="logo-resto" src="/images/green_panther_logo.png" alt="">

        </div>
        <div class="food-display">
          <span id="restaurant-name">La Panthère Verte</span>
          <span id="restaurant-description">Eco-minded hub serving plant-based sandwiches<br>
            and salads that use local ingredients whenever possible.</span>
          <span id="restaurant-address"> 160 Rue Saint Viateur E, Montréal, QC H2T 1A8</span>

        </div>
      </div>
    </section>
    <section id="menu">
      <section id="menu-items">


      </section>
      <section id="cart">
          <aside id="cart-item-display">
              
          </aside>
          <section id="total-cart-display">
            <p>Total : $<span id="total-amount"> 0</span></p>
            <input id="phoneNumber" name="phoneNumber" type="text" placeholder="(XXX) XXX-XXXX">
           <textarea name="comment" id="comment" cols="30" rows="2" placeholder="Comment"></textarea>
            <button id="placeOrder">Place Order</button>
            <button class="reset">Reset</button>
          </section>

      </section>

    </section>

    <button id="scroll-up-btn"><img src="/images/up-button.png"></button>

  </main>

</body>

<% include ./partials/_footer %>

</html>
