<!DOCTYPE html>
<html lang="en">

<head>
  <title>Grab | Order here, pickup there</title>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap" rel="stylesheet">

  <!-- Orders Page css -->
  <link rel="stylesheet" href="../styles/orders.css" type="text/css">
  <!-- Header css -->
  <link rel="stylesheet" href="../styles/header.css" type="text/css">
  <!-- Footer css -->
  <link rel="stylesheet" href="../styles/footer.css" type="text/css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/moment.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/specific_order.js"></script>
  <script>
    $(() => {
  $.ajax({
    method: "GET",
    url: "/api/orders/<%=orderId%>"
  }).done((orderData) => {
    const arrayOrders = orderData.order;
    arrayOrders.forEach(order => {
      let orderItem = generateTableRow(order);
      $("#new-orders").prepend(orderItem);
    });
  });
});
</script>
</head>

<body>
  <% include ./partials/_header %>

  <main>
    <section class="restaurant-display">
      <div id="restaurant-info">
        <div class="logo-div">
          <img id="logo-resto" src="/images/green_panther_logo.png" alt="">

        </div>
        <div class="food-display">
          <span id="restaurant-name">La Panthère Verte</span>
          <span id="restaurant-description">Eco-minded hub serving plant-based sandwiches<br>
            and salads that use local ingredients whenever possible.</span>
          <span id="restaurant-address"> 160 Rue Saint Viateur E, Montréal, QC H2T 1A8</span>
        </div>
      </div>
      <div id="restaurant-order">
        <span id="order-info">Order Management</span>
        <button type="button" id="check-orders">Check new orders</button>
      </div>
    </section>

    <div id="order-details">
      <table class="order-table">
        <thead>
          <tr>
            <th> Order # </th>
            <th> Customer Name </th>
            <th> Phone Number </th>
            <th> Order time </th>
            <th> Order Ready </th>
          </tr>
        </thead>
        <tbody id="new-orders">
          <!-- to fill from DB -->
        </tbody>
      </table>
    </div>
  </main>
  <% include ./partials/_footer %>
</body>

</html>
