main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: beige;
}

section.restaurant-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-size: 100%;
  background-color: rgba(204, 37, 61, 1);
}

.food-display{
  display: flex;
  flex-direction: column;
}

#restaurant-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 3em;
}

#restaurant-name {
  font-size: 1em;
  font-family: 'Red Hat Display';
  font-weight: 700;
  margin-left: 40px;
  margin-top: 1em;
  color: white;
}

#restaurant-description {
  font-size: 1em;
  font-family: 'Red Hat Display';
  font-weight: 400;
  margin-left: 40px;
  margin-top: 1em;
  color: white;
}

#restaurant-address {
  font-size: 0.8em;
  font-family: 'Red Hat Display';
  font-weight: 400;
  margin-left: 40px;
  margin-top: 1em;
  color: white;
}

div .logo-div {
  display:flex;
  flex-direction: row;
  justify-content: start;

}


img#logo-resto {
  width: 100px;
  height: 100px;
  margin-left: 3em;
  margin-top: 1em;
}

section#menu {
  display: flex;
  flex-direction: row;
  background-color: #BDBDBD;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  /* height:500px; */
}

div#restaurant-order {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding: 3em;
}

#order-info {
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
  color: white;
}

.button {
  border-radius: 2em;
  background-color: #27AE60;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  font-family: 'Red Hat Display';
  font-weight: 400;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.5em;
}

#check-orders {
  border-radius: 2em;
  background-color: #27AE60;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Red Hat Display';
  font-weight: 400;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 2em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #4F4F4F; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div#order-details {
  display: flex;
  justify-content: center;
  min-height: 600px;
  padding:2em;
}

div.order-table {
  display: flex;
  justify-content: center;
}
